# 2.4 - SQL en python

**Primero cargar datos...**

In [1]:
# cargar datos

import pandas as pd

df=pd.read_csv('data/shoes.csv')

df.head()

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,...,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,...,Overstock.com,NaN,NaN,NaN,S,https://www.overstock.com/Clothing-Shoes/Women...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",https://www.walmart.com/ip/Naturalizer-Danya-W...,017136472311,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Walmart.com,NaN,NaN,Standard,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045903,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Walmart.com,NaN,NaN,Expedited,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045958,NaN

In [2]:
# seleccion de datos

df=df[['brand', 'colors', 'sizes', 'prices.amountMax', 'imageURLs', 'ean', 'upc']]
df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean,upc
0,Naturalizer,"Silver,Cream Watercolor Floral","6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",55.99,https://i5.walmartimages.com/asr/861ca6cf-fa55...,NaN,017136472311
1,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
2,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
3,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10,033977045903
4,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10,033977045958

In [3]:
# quita nan

df=df.dropna().reset_index(drop=True)

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean,upc
0,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
1,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
2,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10,033977045903
3,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10,033977045958
4,Soft Ones,Brown Tweed,"5,6.5,9,11",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,3.397705e+10,033977052222

In [4]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             664 non-null    object
 1   colors            664 non-null    object
 2   sizes             664 non-null    object
 3   prices.amountMax  664 non-null    float64
 4   imageURLs         664 non-null    object
 5   ean               664 non-null    float64
 6   upc               664 non-null    object
dtypes: float64(2), object(5)
memory usage: 1.4 MB

In [5]:
df.sizes=df.sizes.apply(lambda x: x.split(','))
df.colors=df.colors.apply(lambda x: x.split(','))

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean,upc
0,MUK LUKS,[Grey],"[10, 7, 6, 9, 8]",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
1,MUK LUKS,[Grey],"[10, 7, 6, 9, 8]",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
2,MUK LUKS,[Black],"[10, 7, 6, 9, 8]",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10,033977045903
3,MUK LUKS,[Grey],"[10, 7, 6, 9, 8]",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10,033977045958
4,Soft Ones,[Brown Tweed],"[5, 6.5, 9, 11]",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,3.397705e+10,033977052222

In [6]:
# un registro por cada talla y cada color

df=df.explode('sizes').reset_index(drop=True)
df=df.explode('colors').reset_index(drop=True)

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean,upc
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10,033977045743

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             41188 non-null  object
 1   colors            41188 non-null  object
 2   sizes             41188 non-null  object
 3   prices.amountMax  41188 non-null  float64
 4   imageURLs         41188 non-null  object
 5   ean               41188 non-null  float64
 6   upc               41188 non-null  object
dtypes: float64(2), object(5)
memory usage: 94.7 MB

In [8]:
import warnings
warnings.simplefilter('ignore')

codigo=pd.read_csv('data/upc_corpus.csv')
codigo=codigo.dropna().reset_index(drop=True)

codigo.head()

            ean                                               name
0  725177540363  Belle and The Yank 1/4" - 20 TPI x 90mm Hex Dr...
1  725177540370  Belle and The Yank 1/4" - 20 TPI x 120mm Hex D...
2  797776092321       Eazel Wines 750ml Red Wine Eazel Shiraz 2014
3  701197194311  IsyLei lilla IsyLei All-In-One, lilla - Cono L...
4  797776110773                    MsConscious 370g Skinny Granola

In [9]:
codigo.shape

(1045885, 2)

In [10]:
df.ean=codigo.ean.iloc[0:len(df)]

In [11]:
# renombrar

df=df.rename(columns={'colors':'color', 
                      'sizes':'size', 
                      'prices.amountMax':'price', 
                      'imageURLs':'url'})

df.head()

,brand,color,size,price,url,ean,upc
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,033977045743
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370,033977045743
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321,033977045743
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311,033977045743
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773,033977045743

In [12]:
df['id']=[i for i in range(len(df))]

df=df.drop(columns=['upc'])

df.head()

,brand,color,size,price,url,ean,id
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,0
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370,1
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321,2
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311,3
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773,4

### MySQL Connector

In [13]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)

In [14]:
import mysql.connector as conn

In [15]:
# crea una base de datos

crea_db=conn.connect(host='localhost',
                     user='root',
                     passwd='password')

cursor=crea_db.cursor()

cursor.execute('drop database if exists productos')
cursor.execute('create database productos')

In [16]:
# check

cursor.execute('show databases')

for x in cursor:
    print(x)

('apps',)
('bank',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('productos',)
('prueba_etl',)
('publications',)
('sakila',)
('sys',)
('telcom',)
('vehicles',)

In [17]:
# conectar otra vez

db=conn.connect(host='localhost',
                     user='root',
                     passwd='password',
                     database='productos')

cursor=db.cursor()

In [18]:
# crea una tabla

cursor.execute('drop table if exists zapatos')


tabla='''
            create table zapatos(
                id int,
                brand varchar(50),
                color varchar(50),
                size varchar(50),
                price float,
                url varchar(10000),
                ean varchar(50)
            );
'''


cursor.execute(tabla)

In [19]:
# check

cursor.execute('show tables')

for x in cursor:
    print(x)

('zapatos',)

### Inserta datos

In [20]:
%%time

# insert query  (7.02 sec)

for i in range(len(df)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('zapatos', 
                         ','.join(df.columns), 
                         tuple(df.iloc[i].values))
    
    cursor.execute(insert_query)
    
db.commit()

CPU times: user 9.09 s, sys: 633 ms, total: 9.72 s
Wall time: 16.8 s

In [21]:
'insert into {} ({}) values {};'\
                 .format('zapatos', 
                         ','.join(df.columns), 
                         tuple(df.iloc[0].values))

"insert into zapatos (brand,color,size,price,url,ean,id) values ('MUK LUKS', 'Grey', '10', 47.0, 'https://i5.walmartimages.com/asr/421de5d5-3a74-4ca2-ae91-a75787f7da41_1.375e3cf74dc82303ce37bdf6a9742610.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/202d5a0e-b2aa-4d47-b63c-661fc3f9cd69_1.a61c1848859953067192fb2ce1c4f916.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/55a10ffd-de74-406b-8aa5-ae5be3569ee3_1.4b179b9702f0076cdf701afd0e7dcda2.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/138e9ecf-fac8-4e9d-946a-7ca33dfa46aa_1.e4211c14f2a6ecf891e3d440402b5f82.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/8c6c1ee4-7708-4d45-b48a-b30f974a5f2f_1.857088c50496451990583941d955218d.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/a486d1cf-f2b5-49ca-b0f8-3e2db896c51c_1.de1c99ac6fdfcf3dc3ddbd9c1c6c72b1.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF', '725177540363', 0);"

In [22]:
list(df.itertuples())[0]

Pandas(Index=0, brand='MUK LUKS', color='Grey', size='10', price=47.0, url='https://i5.walmartimages.com/asr/421de5d5-3a74-4ca2-ae91-a75787f7da41_1.375e3cf74dc82303ce37bdf6a9742610.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/202d5a0e-b2aa-4d47-b63c-661fc3f9cd69_1.a61c1848859953067192fb2ce1c4f916.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/55a10ffd-de74-406b-8aa5-ae5be3569ee3_1.4b179b9702f0076cdf701afd0e7dcda2.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/138e9ecf-fac8-4e9d-946a-7ca33dfa46aa_1.e4211c14f2a6ecf891e3d440402b5f82.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/8c6c1ee4-7708-4d45-b48a-b30f974a5f2f_1.857088c50496451990583941d955218d.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/a486d1cf-f2b5-49ca-b0f8-3e2db896c51c_1.de1c99ac6fdfcf3dc3ddbd9c1c6c72b1.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF', ean='725177540363', id=0)

%%time

# insert query

toda_la_query=''

for i in range(len(df)):
    
    toda_la_query+='insert into {} ({}) values {};'\
                 .format('zapatos', 
                         ','.join(df.columns), 
                         tuple(df.iloc[i].values))
    

cursor.execute(toda_la_query, multi=True)
    
db.commit()

In [23]:
# check

cursor.execute('select * from zapatos limit 1')

for x in cursor:
    print(x)

(0, 'MUK LUKS', 'Grey', '10', 47.0, 'https://i5.walmartimages.com/asr/421de5d5-3a74-4ca2-ae91-a75787f7da41_1.375e3cf74dc82303ce37bdf6a9742610.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/202d5a0e-b2aa-4d47-b63c-661fc3f9cd69_1.a61c1848859953067192fb2ce1c4f916.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/55a10ffd-de74-406b-8aa5-ae5be3569ee3_1.4b179b9702f0076cdf701afd0e7dcda2.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/138e9ecf-fac8-4e9d-946a-7ca33dfa46aa_1.e4211c14f2a6ecf891e3d440402b5f82.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/8c6c1ee4-7708-4d45-b48a-b30f974a5f2f_1.857088c50496451990583941d955218d.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/a486d1cf-f2b5-49ca-b0f8-3e2db896c51c_1.de1c99ac6fdfcf3dc3ddbd9c1c6c72b1.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF', '725177540363')

In [24]:
df.iloc[1].url

'https://i5.walmartimages.com/asr/421de5d5-3a74-4ca2-ae91-a75787f7da41_1.375e3cf74dc82303ce37bdf6a9742610.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/202d5a0e-b2aa-4d47-b63c-661fc3f9cd69_1.a61c1848859953067192fb2ce1c4f916.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/55a10ffd-de74-406b-8aa5-ae5be3569ee3_1.4b179b9702f0076cdf701afd0e7dcda2.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/138e9ecf-fac8-4e9d-946a-7ca33dfa46aa_1.e4211c14f2a6ecf891e3d440402b5f82.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/8c6c1ee4-7708-4d45-b48a-b30f974a5f2f_1.857088c50496451990583941d955218d.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/a486d1cf-f2b5-49ca-b0f8-3e2db896c51c_1.de1c99ac6fdfcf3dc3ddbd9c1c6c72b1.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF'

# comentario Ricardo

def cambiar(x):
    return str(x).lstrip('[').rstrip(']')
    return str(x)[1:-2]

In [25]:
# df.columna=df.columna.appy(cambiar)

In [26]:
df.size=df.size.astype(float)

df.head()

,brand,color,size,price,url,ean,id
0,MUK LUKS,Grey,288316.0,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,0
1,MUK LUKS,Grey,288316.0,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370,1
2,MUK LUKS,Grey,288316.0,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321,2
3,MUK LUKS,Grey,288316.0,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311,3
4,MUK LUKS,Grey,288316.0,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773,4

### SqlAlchemy

### SQL - Pandas